# Ignore special files.
*~
.*

# Ignore python cache files.
__pycache__

# Ignore local logs and settings.
logs/*
virtualspace/settings/local.py

# Ignore local SQLite datafile.
virtualspace/data/sqlite.db

# Ignore gettext's POT-file.
messages.pot

# Keep this .gitignore and .gitkeep files. .gitkeep used for committing empty
# directories, when defining repository structure.
!.gitignore
!.gitkeep

# Keep .editorconfig for file style guidelines.
!.editorconfig
